# Compiled Object files
build/
debug/
bin/
lib/
_deps/
.vscode/
.idea/
CMakeFiles/


*.gfa
*.cereal
*.anno
*.paf

*.txt
cmake*
!CMakeLists.txt

Makefile
test_build/CTestTestfile.cmake

# stray local data dumps (large read files must never be committed)
/aaaaa
*.fasta
*.fa
*.fastq
*.fq
*.fasta.gz
*.fa.gz
*.fastq.gz
*.fq.gz
